<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My Team</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/c502137733.js"></script>
    <style>
        body {
            background-color: aliceblue;
        }

        h1 {
            font-family: 'Courier New', Courier, monospace;
        }

        h3 {
            color: #343a40;
            font-family: 'Courier New', Courier, monospace;
        }

        .card-deck .card {
            max-width: 20rem;
            min-width: 20rem;
            margin-bottom: 20px;
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 border-info jumbotron mb-3 team-heading">
                <h1 class="text-center text-light bg-dark">My Team</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="team-area card-deck col-12 d-flex justify-content-center">

                {{ team }}

            </div>
        </div>
    </div>
</body>

</html>